In [39]:
import pandas as pd
import numpy as np
import json
import pandas as pd
import numpy as np
import re
import requests
import matplotlib.pyplot as plt
import seaborn as sns

In [47]:
print('  - re=' + re.__version__)
print('  - numpy=' + np.__version__)
print('  - json=' + json.__version__)
print('  - requests=' + requests.__version__)
print('  - seaborn=' + sns.__version__)

  - re=2.2.1
  - numpy=1.19.2
  - json=2.0.9
  - requests=2.24.0
  - seaborn=0.11.0

In [22]:
clusters = pd.read_csv('../data/clusters.csv')
clustersByType = pd.read_csv('../data/clusters_by_type.csv')
violations= pd.read_csv('../data/violations.csv')

In [23]:
clusters.head()

,Cluster Name,Facility Type,Cluster Start Date,# Cases,Latitude,Longitude
0,Vanderbilt Parties,Social Gathering,3/11/2020,49,36.125891,-86.822863
1,Event at Clementine Hall,Social Gathering,3/14/2020,23,36.152444,-86.8467716
2,Religious Retreat,Social Gathering,3/25/2020,18,NaN,NaN
3,The Health Center at Richland Place,LTCF,4/3/2020,47,36.128750,-86.8195333
4,Trevecca Center for Rehab and Healing,LTCF,4/4/2020,102,36.144562,-86.7567485

In [24]:
clusters.columns = ['name', 'facilityType', 'clusterStartDate', 'caseCount','lat','long']

In [25]:
clusters

,name,facilityType,clusterStartDate,caseCount,lat,long
0,Vanderbilt Parties,Social Gathering,3/11/2020,49,36.125891,-86.822863
1,Event at Clementine Hall,Social Gathering,3/14/2020,23,36.152444,-86.8467716
2,Religious Retreat,Social Gathering,3/25/2020,18,NaN,NaN
3,The Health Center at Richland Place,LTCF,4/3/2020,47,36.128750,-86.8195333
4,Trevecca Center for Rehab and Healing,LTCF,4/4/2020,102,36.144562,-86.7567485
...,...,...,...,...,...,...
57,One Stone Church Service,Church,9/22/2020,10,36.189960,-86.7673379
58,Miss Kelli's,Bar,10/1/2020,14,36.164369,-86.7807037
59,Nashville Rescue Mission - Women's Campus,Congregate Living,10/1/2020,70,36.167693,-86.7957557
60,Link Systems Electric,Other,10/16/2020,12,36.092924,-86.7438727
61,Iron Tribe Belmont,Gym,10/20/2020,14,36.116854,-86.8003041

In [26]:
clustersByType.head()

           Cluster Type  Number of Clusters
0                   Bar                   7
1                Church                   2
2  College / University                   5
3  Commercial-Warehouse                  12
4     Congregate Living                  13

In [27]:
clustersByType.columns = ['clusterType', 'clusterCount']

In [28]:
clustersByType

              clusterType  clusterCount
0                     Bar             7
1                  Church             2
2    College / University             5
3    Commercial-Warehouse            12
4       Congregate Living            13
5            Construction            19
6   Correctional Facility             9
7                Day Care             7
8         Food Production             2
9                 Grocery             1
10                    Gym             3
11   Healthcare, non-LTCF             1
12                   LTCF            39
13                 Office             4
14                  Other             9
15             Restaurant             4
16                 School             7
17       Social Gathering            12

In [29]:
clustersGeo = clusters[clusters['lat'].isnull()==False]

In [30]:
clustersGeo.reset_index(drop=True)

,name,facilityType,clusterStartDate,caseCount,lat,long
0,Vanderbilt Parties,Social Gathering,3/11/2020,49,36.125891,-86.822863
1,Event at Clementine Hall,Social Gathering,3/14/2020,23,36.152444,-86.8467716
2,The Health Center at Richland Place,LTCF,4/3/2020,47,36.128750,-86.8195333
3,Trevecca Center for Rehab and Healing,LTCF,4/4/2020,102,36.144562,-86.7567485
4,Tyson Foods,Commercial-Warehouse,4/6/2020,280,36.198993,-89.8367566
5,Nashville Center for Rehab and Healing,LTCF,4/8/2020,12,36.134557,-86.7831177
6,CDM Jail,Correctional Facility,4/13/2020,22,36.088200,-86.6861683
7,Bordeaux,LTCF,4/15/2020,47,36.180317,-86.8504781
8,Cargill,Commercial-Warehouse,4/21/2020,22,36.112551,-86.759455
9,Bethany Center for Rehab and Healing,LTCF,4/27/2020,133,36.049614,-86.7189497
10,Knowles Assisted Living,LTCF,4/27/2020,41,36.181554,-86.8511166
11,Rescue Mission-Fairgrounds,Congregate Living,4/30/2020,156,36.144509,-86.7652013
12,Montgomery Bell Academy job site,Construction,5/8/2020,75,36.128532,-86.838655
13,Grand Hyatt Hotel (Power Design Inc) job site,Construction,5/19/2020,23,36.157948,-86.7870439
14,Good Samaritan Health & Healing,LTCF,6/3/2020,75,36.053331,-86.6514237
15,Rolling Mill Hill job site,Construction,6/3/2020,21,36.156480,-86.7685263
16,The Opal at Music City,LTCF,6/3/2020,27,36.161851,-86.6632187
17,Lipscomb Elam Hall job site,Construction,6/10/2020,32,36.106168,-86.8001145
18,Creekside Center for Rehab and Healing,LTCF,6/15/2020,107,36.251458,-86.7286169
19,Hermitage Hall,Congregate Living,6/20/2020,93,36.140095,-86.779755
20,West Meade Place,LTCF,6/24/2020,11,36.089531,-86.8907533
21,Ahava / Grace Healthcare of White's Creek,LTCF,6/26/2020,46,36.238397,-86.8043742
22,CDM Jail,Correctional Facility,6/26/2020,75,36.088200,-86.6861683
23,Dawghouse Saloon,Bar,6/26/2020,14,36.153053,-86.7925109
24,Dogwood,Restaurant,6/26/2020,19,36.153052,-86.799077
25,Kid Rock's Big Ass Honky Tonk,Bar,6/26/2020,15,36.161446,",-86.7779142"
26,Loser's,Bar,6/26/2020,29,36.161446,-86.7844803
27,Tootsie's,Bar,6/26/2020,27,36.140066,-86.7636468
28,Winner's,Bar,6/26/2020,10,36.272015,-86.892809
29,Men of Valor,Congregate Living,7/1/2020,10,36.061543,-86.6715307
30,Standing Tall Music City,Congregate Living,7/1/2020,50,36.201781,-86.8644678
31,Metro Water Services,Office,7/2/2020,18,36.184104,-86.7924062
32,Nashville Center for Rehab and Healing (2),LTCF,7/9/2020,49,36.134557,-86.7831177
33,NHC Place at the Trace ACLF,LTCF,7/14/2020,14,36.035223,-86.968385
34,NHC Place at the Trace NH,LTCF,7/14/2020,19,36.035223,-86.968385
35,Belmont Village of Green Hills,LTCF,7/20/2020,16,36.100062,-86.8235328
36,Middle TN Mental Health Inst,Congregate Living,7/29/2020,48,36.163999,-86.6495353
37,Blakeford Green Hills,LTCF,7/30/2020,18,36.093286,-86.8224549
38,Progress Inc.,Congregate Living,7/30/2020,12,36.102733,-86.6766101
39,Life Care Center Old Hickory Village,LTCF,7/31/2020,11,36.258244,-86.6612828
40,CoreCivic,Correctional Facility,8/4/2020,122,36.060279,-86.7840501
41,Lakeshore Meadows,LTCF,8/4/2020,33,36.072779,-86.9737309
42,Signature of Madison,LTCF,8/17/2020,49,36.254615,-86.6872759
43,Lois DeBerry Special Needs Facility,Correctional Facility,9/1/2020,62,36.190930,-86.9022246
44,Riverbend Max Security Prison-2,Correctional Facility,9/1/2020,60,36.179843,-86.8994012
45,Debra Johnson Rehab/TN Prison for Women,Correctional Facility,9/1/2020,216,36.192596,-86.8637073
46,Green Hills Center for Rehab and Healing,LTCF,9/7/2020,45,36.104954,-86.8223744
47,One Stone Church Service,Church,9/22/2020,10,36.189960,-86.7673379
48,Miss Kelli's,Bar,10/1/2020,14,36.164369,-86.7807037
49,Nashville Rescue Mission - Women's Campus,Congregate Living,10/1/2020,70,36.167693,-86.7957557
50,Link Systems Electric,Other,10/16/2020,12,36.092924,-86.7438727
51,Iron Tribe Belmont,Gym,10/20/2020,14,36.116854,-86.8003041

In [10]:
clusters[clusters['facilityType'] =='LTCF']

,name,facilityType,clusterStartDate,caseCount,lat,long
3,The Health Center at Richland Place,LTCF,4/3/2020,47,36.128750,-86.8195333
4,Trevecca Center for Rehab and Healing,LTCF,4/4/2020,102,36.144562,-86.7567485
6,Nashville Center for Rehab and Healing,LTCF,4/8/2020,12,36.134557,-86.7831177
8,Bordeaux,LTCF,4/15/2020,47,36.180317,-86.8504781
10,Bethany Center for Rehab and Healing,LTCF,4/27/2020,133,36.049614,-86.7189497
11,Knowles Assisted Living,LTCF,4/27/2020,41,36.181554,-86.8511166
16,Good Samaritan Health & Healing,LTCF,6/3/2020,75,36.053331,-86.6514237
18,The Opal at Music City,LTCF,6/3/2020,27,36.161851,-86.6632187
21,Creekside Center for Rehab and Healing,LTCF,6/15/2020,107,36.251458,-86.7286169
24,West Meade Place,LTCF,6/24/2020,11,36.089531,-86.8907533
25,Ahava / Grace Healthcare of White's Creek,LTCF,6/26/2020,46,36.238397,-86.8043742
36,Nashville Center for Rehab and Healing (2),LTCF,7/9/2020,49,36.134557,-86.7831177
37,NHC Place at the Trace ACLF,LTCF,7/14/2020,14,36.035223,-86.968385
38,NHC Place at the Trace NH,LTCF,7/14/2020,19,36.035223,-86.968385
39,Belmont Village of Green Hills,LTCF,7/20/2020,16,36.100062,-86.8235328
41,Blakeford Green Hills,LTCF,7/30/2020,18,36.093286,-86.8224549
43,Life Care Center Old Hickory Village,LTCF,7/31/2020,11,36.258244,-86.6612828
45,Lakeshore Meadows,LTCF,8/4/2020,33,36.072779,-86.9737309
46,Signature of Madison,LTCF,8/17/2020,49,36.254615,-86.6872759
52,Green Hills Center for Rehab and Healing,LTCF,9/7/2020,45,36.104954,-86.8223744

In [31]:
violations

,case_number,status,case_subrequest,case_origin,closed_when_created,incident_address,incident_city,incident_council_district,incident_zip_code,latitude,longitude,mapped_location,date_time_closed,contact_type,parent_case
0,497255,Assigned,COVID-19 Violations,Phone,False,440 McMurray Dr,NASHVILLE,27.0,37211.0,36.061900,-86.718060,"{'latitude': '36.0619', 'longitude': '-86.71806'}",NaN,NaN,NaN
1,497616,New,COVID-19 Violations,hubNashville Community,False,8027 E Lamar Alexander Pkwy,NaN,NaN,NaN,35.679770,-83.736708,"{'latitude': '35.67977', 'longitude': '-83.736...",NaN,NaN,NaN
2,497449,Assigned,COVID-19 Violations,Phone,False,3706 Hillsboro Pike,NASHVILLE,25.0,37215.0,36.109800,-86.810920,"{'latitude': '36.1098', 'longitude': '-86.81092'}",NaN,NaN,NaN
3,497139,New,COVID-19 Violations,Phone,False,1124 Murfreesboro Rd,NaN,NaN,NaN,35.915226,-86.835418,"{'latitude': '35.9152262', 'longitude': '-86.8...",NaN,NaN,NaN
4,497019,New,COVID-19 Violations,Phone,False,5106 Old Hickory Blvd,NASHVILLE,1.0,37218.0,36.212190,-86.920010,"{'latitude': '36.21219', 'longitude': '-86.920...",NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11671,336829,Closed,COVID-19 Violations,Phone,False,3049 Dickerson Pike,NASHVILLE,8.0,37207.0,36.228899,-86.758057,"{'latitude': '36.22889910000001', 'longitude':...",2020-04-01T18:40:02.000,NaN,NaN
11672,336732,Closed,COVID-19 Violations,hubNashville Community,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-04-01T19:00:49.000,NaN,NaN
11673,336221,New,COVID-19 Violations,hubNashville Community,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11674,336157,New,COVID-19 Violations,hubNashville Community,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11675,336223,New,COVID-19 Violations,hubNashville Community,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [34]:
violations[violations['latitude'].isnull()]

,case_number,status,case_subrequest,case_origin,closed_when_created,incident_address,incident_city,incident_council_district,incident_zip_code,latitude,longitude,mapped_location,date_time_closed,contact_type,parent_case
220,491272,Closed,COVID-19 Violations,hubNashville Community,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-10-30T14:00:14.000,NaN,NaN
981,471037,Closed,COVID-19 Violations,Phone,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-09-28T16:33:16.000,NaN,NaN
1096,474231,Closed,COVID-19 Violations,hubNashville Community,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-10-05T13:57:38.000,NaN,NaN
1434,461615,Closed,COVID-19 Violations,hubNashville Community,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-09-11T13:12:44.000,NaN,NaN
1716,454737,Closed,COVID-19 Violations,hubNashville Community,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-08-31T13:37:26.000,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11670,336836,Closed,COVID-19 Violations,hubNashville Community,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-04-01T18:44:31.000,NaN,NaN
11672,336732,Closed,COVID-19 Violations,hubNashville Community,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-04-01T19:00:49.000,NaN,NaN
11673,336221,New,COVID-19 Violations,hubNashville Community,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11674,336157,New,COVID-19 Violations,hubNashville Community,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11675,336223,New,COVID-19 Violations,hubNashville Community,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [36]:
violationsGeo = violations[violations['latitude'].isnull()==False]

In [38]:
violationsGeo.reset_index(drop=True)

,case_number,status,case_subrequest,case_origin,closed_when_created,incident_address,incident_city,incident_council_district,incident_zip_code,latitude,longitude,mapped_location,date_time_closed,contact_type,parent_case
0,497255,Assigned,COVID-19 Violations,Phone,False,440 McMurray Dr,NASHVILLE,27.0,37211.0,36.061900,-86.718060,"{'latitude': '36.0619', 'longitude': '-86.71806'}",NaN,NaN,NaN
1,497616,New,COVID-19 Violations,hubNashville Community,False,8027 E Lamar Alexander Pkwy,NaN,NaN,NaN,35.679770,-83.736708,"{'latitude': '35.67977', 'longitude': '-83.736...",NaN,NaN,NaN
2,497449,Assigned,COVID-19 Violations,Phone,False,3706 Hillsboro Pike,NASHVILLE,25.0,37215.0,36.109800,-86.810920,"{'latitude': '36.1098', 'longitude': '-86.81092'}",NaN,NaN,NaN
3,497139,New,COVID-19 Violations,Phone,False,1124 Murfreesboro Rd,NaN,NaN,NaN,35.915226,-86.835418,"{'latitude': '35.9152262', 'longitude': '-86.8...",NaN,NaN,NaN
4,497019,New,COVID-19 Violations,Phone,False,5106 Old Hickory Blvd,NASHVILLE,1.0,37218.0,36.212190,-86.920010,"{'latitude': '36.21219', 'longitude': '-86.920...",NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11393,336444,Closed,COVID-19 Violations,Phone,False,1211 MEDICAL CENTER DR,NASHVILLE,18.0,37212.0,36.147020,-86.800760,"{'latitude': '36.14702', 'longitude': '-86.800...",2020-04-03T19:44:33.000,NaN,NaN
11394,336454,Closed,COVID-19 Violations,Phone,False,4105 Lebanon Pike,HERMITAGE,11.0,37076.0,36.198707,-86.620003,"{'latitude': '36.1987069', 'longitude': '-86.6...",2020-04-03T20:04:54.000,NaN,NaN
11395,336440,Closed,COVID-19 Violations,Phone,False,1045 Rev Dr Enoch Jones Blvd,NASHVILLE,19.0,37208.0,36.172200,-86.797410,"{'latitude': '36.1722', 'longitude': '-86.79741'}",2020-04-03T19:40:24.000,NaN,NaN
11396,336724,Closed,COVID-19 Violations,Phone,False,8159 Sawyer Brown Rd,NASHVILLE,22.0,37221.0,36.084467,-86.943913,"{'latitude': '36.0844668', 'longitude': '-86.9...",2020-04-01T19:01:51.000,NaN,NaN
11397,336829,Closed,COVID-19 Violations,Phone,False,3049 Dickerson Pike,NASHVILLE,8.0,37207.0,36.228899,-86.758057,"{'latitude': '36.22889910000001', 'longitude':...",2020-04-01T18:40:02.000,NaN,NaN